[user]
	name = Paul Schifferer
	email = paul@schifferers.net
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH6+TqQmNKYNDvDk4Kqx3pDDhdezItSFPqaR/YQiJppS
[core]
	excludesfile = /Users/paulyhedral/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/paulyhedral/.stCommitMsg
  gpgsign = true
[pull]
	rebase = true
[gpg]
	program = /opt/homebrew/bin/gpg
	format = ssh

[init]
	defaultBranch = develop
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[mergetool]
	keepBackup = true
[tag]
	sort = -version:refname
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
